.createStore{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createStore-div2{
    margin-bottom: 50px ;
}


.profile-store{
    display: flex;
    justify-content: center;
}

.profile{
    width:220px; position:absolute; top:50px ; left:0 ; z-index:999 ; padding:9px
}
.profile-store>img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 3px solid goldenrod;
    margin-bottom: 30px;
    cursor: pointer;
}